.benefit {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 20px;

    @media(width <= $breakpoint768) {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }
}