.consult {

    &__wrapper {
        display: flex;

        position: relative;
        z-index: 3;

        @media(width <= $breakpoint1280) {
            padding-right: $padding-md;
        }
        @media(width <= $breakpoint1024) {
            flex-direction: column;
            gap: 40px;
            padding: 0 $padding-md;
        }
        @media(width <= $breakpoint768) {
            padding: 0 $padding-sm;
        }
    }
    &__left {
        width: 37%;
        margin-right: 32px;

        @media(width <= $container-width) {
            width: 50%;
        }
        @media(width <= $breakpoint1024) {
            width: 100%;
        }
    }
    &__title {
        @media(width <= $breakpoint1024) {
            padding-left: 0;
        }
    }
    &__text {
        margin-top: 92px;

        @media(width <= $breakpoint1024) {
            margin-top: 40px;
            padding-left: 0;
        }
        @media(width <= $breakpoint480) {
            margin-top: 20px;
        }

        & p {
            font-weight: 400;
            font-size: 25px;
            color: #fafafa;

            @media(width <= $breakpoint768) {
                font-size: 20px;
            }
            @media(width <= $breakpoint480) {
                font-size: 18px;
            }
        }
    }
    &__form {
        width: 530px;
        height: fit-content;
        flex-shrink: 0;

        box-shadow: 8px 4px 4px 0 rgba(0, 0, 0, 0.25);
        background: #b79f68;
        padding: 22px 48px 32px;
        
        margin-bottom: 56px;

        @media(width <= $breakpoint1024) {
            margin: 0 auto;
            max-width: 530px;
            width: 100%;
        }
        @media(width <= $breakpoint600) {
            padding: 22px 36px 32px;
        }
        @media(width <= $breakpoint480) {
            padding: 22px 16px 32px;
        }
    }

    &__img {
        width: 35%;
        display: flex;
        align-items: end;

        @media(width <= $container-width) {
            display: none;
        }

        & img {
            width: 100%;
            object-fit: cover;
        }
    }
}