.custom-checkbox {
	display: block;
	cursor: pointer;
	user-select: none;
	position: relative;

    & input[type=checkbox] {
        position: absolute;
        z-index: -1;
        opacity: 0;
        display: block;
        width: 0;
        height: 0;

        &:disabled + span {
            color: #666;
            cursor: default;
        }
        &:disabled + span {
            &::before {
                filter: grayscale(100%);
                opacity: 0.6;
            }
        }

        &:checked + span:before {
            background-image: url(../assets/img/icons/checkbox.svg);
            background-repeat: no-repeat;
            background-position: 50%;
        }
    }
    & span {
        display: inline-block;
        position: relative; 
        padding: 0 0 0 30px; 
        line-height: 24px;   

        @media(max-width: $breakpoint1024) {
            font-size: 14px;
        }
        @media(max-width: $breakpoint480) {
            font-size: 12px;
            line-height: 20px;
        }

        &:hover {
            &::before {
                filter: brightness(110%);
            }
        }
        &:active {
            &::before {
                filter: brightness(80%);
            }
        }

        &::before {
            content: "";
            display: inline-block;
            width: 20px;
            height: 20px;
            position: absolute;
            left: 0;
            top: 4px;
            border-radius: 2px;
            background: #fff;
        }
    }
}
