.swiper-certificate {
    padding: 48px 20px 66px 20px;

    @media(width <= $breakpoint768) {
        padding: 48px 16px;
    }

    &__slide {
        position: relative;
        
        &:not(.swiper-slide-active) {
            &::after {
                content: '';
                position: absolute;
                inset: 0 0 0 0;
                width: 100%;
                height: 100%;
                background: rgba(0, 0, 0, .3);
                border-radius: 20px;
            }

            &:not(:is(.swiper-slide-next, .swiper-slide-prev)) {
                &::after {
                    content: '';
                    position: absolute;
                    inset: 0 0 0 0;
                    width: 100%;
                    height: 100%;
                    background: rgba(0, 0, 0, .4);
                    border-radius: 20px;
                }
            }
        }
    }
    &__img {
        display: flex;
        width: 100%;
        object-fit: cover;

        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
        border-radius: 20px;
        overflow: hidden;
    }
}

.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
    content: '';
}
.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
    content: ''; 
}