.toggle {
    display: inline-block;

    & input[type=radio] {
        display: none;
    }
    & input[type=radio]:checked + label {
        // border: 1px solid $main-color;
        box-shadow: 0 4px 4px 0 rgba(254, 226, 164, .25);
        // scale: 1.02;
    }
    & input[type=radio]:disabled + label {
        cursor: not-allowed;
    }

    & label {
        position: relative;

        cursor: pointer;
        user-select: none; 
        transition: border-color .3s;

        &:hover {
            border-color: $main-color;
        }
    }

}


