@import url("../assets/fonts/stylesheet.css");

html,
body {
    font-family: $font-roboto;
    scroll-behavior: smooth;
}

// Заголовки
h1 {
    color: $main-color;
    font-weight: 700;
    font-size: 64px;
}
h2 { 
    font-weight: 600;
    font-size: 36px;
}
h3 {

}

.section-title {

    &--dark {
        color: $main-font-color;
    }
    &--gold {
        color: $third-color;
    }
}

// База
.container {
    max-width: $container-width;
    width: 100%;
    margin: 0 auto;

    &__inner {
        margin-top: 30px;

        @media(max-width: $breakpoint768) {
            margin-top: 24px;
        }
    }

    @media(max-width: $container-width) {
        padding: 0 $padding-md;
    }
    @media(max-width: $breakpoint768) {
        padding: 0 $padding-sm;
    }
}

.bg-dark {
    background: $secondary-color;
}

.left-padding {
    padding-left: calc((100vw - $container-width) / 2);

    @media(max-width: $container-width) {
        padding-left: $padding-md;
    }
    @media(max-width: $breakpoint768) {
        padding-left: $padding-sm;
    }
}

.no-scroll {
    overflow: hidden;
}

@keyframes pulse {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: .5;
    }
  }